<div id="sidebar">
    <div class="pt-3 overflow-hidden">
        <div class="perfil-foto" style="background-image: url('{{persona.foto}}');" alt="Foto"></div>
        <p class="perfil-nombre mt-2 mb-0 lh-1">{{persona.nombre | titlecase}} {{persona.primerApellido | titlecase}} {{persona.segundoApellido | titlecase}}</p>
    </div>
    
    <ul class="list-unstyled components">
        <li routerLinkActive="active" *ngFor="let menu of menus">
            <a *ngIf="!menu.external" href="#" [routerLink]="menu.ubicacion" class="text-overflow">
                <i class="pi {{menu.icono}}"></i>
                {{menu.titulo}}
            </a>
            <a *ngIf="menu.external" [href]="menu.ubicacion" class="text-overflow"
                target="_blank">
                <i class="pi {{menu.icono}}"></i>
                {{menu.titulo}}
            </a>
        </li>
    </ul>

    <section class="section-botton">
        <div class="full-width">
            <p-selectButton [options]="modeOptions" [(ngModel)]="theme" (onChange)="cambiarModo()">
                <ng-template let-item>
                    <i [class]="item.icon" class="w-full"></i>
                </ng-template>
            </p-selectButton>
        </div>
        <p-divider></p-divider>
        <!-- <img src="https://saads.blob.core.windows.net/resource/imagenes/Logos/SFICAZULVERDE.png" class="isologo"> -->
        <img src="https://portal.upds.edu.bo/index/images/isologo.png" class="isologo">
        <div class="detail-version">
            <p class="my-0">&copy; 2022 - V1.0.5 DT</p>
            <p class="mt-0 mb-1">Design Template</p>
        </div>
        <button routerLink="/login" pButton label="LogOut" icon="pi pi-sign-out" class="btn-logout p-button-danger" (click)="logOut()"></button>
    </section>
</div>