<div class="body-login">
    <div class="contenedor">
        <p-card class="box fadein">
            <div>
                <h2 class="title" *ngIf="!codeIsGenerated">Remember Password</h2>
                <h2 class="title fadein" *ngIf="!codeIsGenerated != true && success != true">Confirm Code</h2>
                <h2 class="title fadein" *ngIf="success">Confirmed Code!</h2>
            </div>
            <div *ngIf="!codeIsGenerated">
                <span class="p-float-label p-input-icon-left w-full mb-3 mt-2">
                    <i class="pi pi-user"></i>
                    <input type="text" pInputText  [(ngModel)]="username" id="user" class="w-full">         
                    <label for="user">Username</label>
                </span>
            </div>
            <div *ngIf="codeIsGenerated && success != true" class=" fadein">
                <span class="p-float-label p-input-icon-left w-full mb-3 mt-2">
                    <i class="pi pi-unlock"></i>
                    <input type="text" pInputText  [(ngModel)]="randomReceived" id="code" class="w-full">         
                    <label for="code">Code</label>
                </span>
            </div>
            <div class="flex align-items-center justify-content-between mb-4" *ngIf="success != true">
                <a routerLink="/login" class="font-medium no-underline ml-2 text-primary text-right cursor-pointer">Return Login</a>
            </div>

            <div class="text-center mt-4" *ngIf="!codeIsGenerated">
                <button pButton type="button" class="p-button-raised w-full" icon="pi pi-envelope" [disabled]="!username"
                iconPos="right" label="Generate Code" (click)="generateRandomNumber()"  [loading]="sendingCode"></button>
            </div>
            <div class="text-center mt-4" *ngIf="codeIsGenerated && success != true">
                <button pButton type="button" class="p-button-raised w-full" icon="pi pi-unlock"
                iconPos="right" label="Check Code" (click)="compareCode()"></button>
            </div>
            <div class="text-center mt-4" *ngIf="success">
                <button pButton type="button" class="p-button-raised w-full" label="Go to Login" (click)="goToLogin()"></button>
            </div>

            <p-message *ngIf="success" severity="success" text="Your access password is: {{accessCode}}" styleClass="mt-5 w-full"></p-message>
            <p-message *ngIf="success == false" severity="error" text="The codes do not match" styleClass="mt-5 w-full"></p-message>

        </p-card>
    </div>
</div>