<p-card>
    <h3>InputText</h3>
    <div class="grid">
        <div class="col-12 md:col-4">
            <input type="text" pInputText class="w-full" placeholder="Defauld" />
        </div>
        <div class="col-12 md:col-4">
            <input type="text" disabled pInputText class="w-full" placeholder="Disabled" />
        </div>
        <div class="col-12 md:col-4">
            <div class="field w-full">
                <input id="username2" type="username" aria-describedby="username2-help" class="ng-invalid ng-dirty w-full" pInputText placeholder="Invalid" />
                <small id="username2-help" class="p-error block">Username is not available.</small>
            </div>
        </div>
    </div>

    <h3>Icons</h3>
    <div class="grid">
        <div class="col-12 md:col-4">
            <span class="p-input-icon-left w-full">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Search" class="w-full">         
            </span>
        </div>
        <div class="col-12 md:col-4">
            <span class="p-input-icon-right w-full">
                <i class="pi pi-spin pi-spinner"></i>
                <input type="text" pInputText  class="w-full" placeholder="Search">        
            </span> 
        </div>
        <div class="col-12 md:col-4">
            <span class="p-input-icon-right p-input-icon-left w-full">
                <i class="pi pi-search"></i>
                <i class="pi pi-spin pi-spinner"></i>
                <input type="text" pInputText class="w-full" placeholder="Search">        
            </span> 
        </div>
    </div>

    <h3>Float Label</h3>
    <div class="grid">
        <div class="col w-full">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText class="w-full"> 
                <label for="float-input">Username</label>
            </span>
        </div>
    </div>

    <h3>Textarea</h3>
    <div class="grid">
        <div class="col-12 md:col-4">
            <textarea pInputTextarea class="w-full"></textarea>
        </div>
        <div class="col-12 md:col-4">
            <span class="p-float-label w-full">
                <textarea id="float-input" rows="5" pInputTextarea class="w-full"></textarea>
                <label for="float-input">Summary</label>
            </span>
        </div>
        <div class="col-12 md:col-4">
            <textarea rows="5" pInputTextarea [autoResize]="true" class="w-full"></textarea>
        </div>
    </div>

    <h3>Autocomplete</h3>
    <div class="grid">
        <div class="col-12">
            <p-autoComplete [showEmptyMessage]="true" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [minLength]="1"></p-autoComplete>
        </div>
        <div class="col-12">
            <p-autoComplete [(ngModel)]="selectedCountryAdvanced" [suggestions]="filteredCountries"
                (completeMethod)="filterCountry($event)" field="name" [dropdown]="true">
                <ng-template let-country pTemplate="item">
                    <div class="country-item">
                    <div>{{country.name}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
        </div>
    </div>

    <h3>Calendar</h3>
    <div class="grid">
        <div class="col-12">
            <p-calendar [showIcon]="true" [showButtonBar]="true"></p-calendar>
        </div>
    </div>

    <h3>InputNumber</h3>
    <div class="grid">
        <div class="grid p-fluid">
            <div class="field col-12 md:col-6">
                <label for="stacked">Stacked</label>
                <p-inputNumber [(ngModel)]="inputn[0]" [showButtons]="true" inputId="stacked" mode="currency" currency="USD">
                </p-inputNumber>
            </div>
            <div class="field col-12 md:col-6">
                <label for="horizontal">Horizontal with Step</label>
                <p-inputNumber [(ngModel)]="inputn[1]" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="0.25"
                decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="currency" currency="EUR">
                </p-inputNumber>
            </div>
            <div class="field col-12 md:col-6">
                <label for="minmax-buttons">Min-Max Boundaries</label>
                <p-inputNumber [(ngModel)]="inputn[2]" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100">
                </p-inputNumber>
            </div>
        </div>
        <div class="field col-12 md:col-3">
            <label for="vertical" style="display: block">Vertical</label>
            <p-inputNumber [(ngModel)]="inputn[3]" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical"
            decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
            </p-inputNumber>
        </div>
    </div>
    <div class="grid p-fluid">
        <div class="field col-12 md:col-6">
            <label for="mile">Mile</label>
            <p-inputNumber [(ngModel)]="inputn[4]" inputId="mile" suffix=" mi">
            </p-inputNumber>
        </div>
        <div class="field col-12 md:col-6">
            <label for="percent">Percent</label>
            <p-inputNumber [(ngModel)]="inputn[5]" inputId="percent" prefix="%">
            </p-inputNumber>
        </div>
        <div class="field col-12 md:col-6">
            <label for="expiry">Expiry</label>
            <p-inputNumber [(ngModel)]="inputn[6]" inputId="expiry" prefix="Expires in " suffix=" days">
            </p-inputNumber>
        </div>
        <div class="field col-12 md:col-6">
            <label for="temperature">Temperature</label>
            <p-inputNumber [(ngModel)]="inputn[7]" prefix="↑ " inputId="temperature" suffix="℃" [min]="0" [max]="40">
            </p-inputNumber>
        </div>
    </div>
</p-card>