<p-toast></p-toast>
<div class="body-login">
    <div class="contenedor">
        <p-card class="box fadein shadow-8" *ngIf="!sedes.dataCargada">
            <div>
                <img src="https://saads.blob.core.windows.net/resource/imagenes/Logos/SFICAZULVERDE.png" alt="logo U" class="logo">
                <h2 class="title">Welcome Back</h2>
            </div>
            <div>
                <span class="p-float-label p-input-icon-left w-full mb-3 mt-2">
                    <i class="pi pi-user"></i>
                    <input type="text" pInputText  [(ngModel)]="user.userName" id="user" class="w-full">         
                    <label for="user">Username</label>
                </span>
                <span class="p-float-label p-input-icon-left w-full mb-3 mt-2">
                    <i class="pi pi-key"></i>
                    <input type="password" pInputText  [(ngModel)]="user.password" id="pass" class="w-full">         
                    <label for="pass">Password</label>
                </span>
            </div>

            <div class="flex align-items-center justify-content-between mb-4">
                <div class="flex align-items-center">
                    <p-checkbox id="rememberme" [binary]="true" [(ngModel)]="remember" styleClass="mr-2"></p-checkbox>
                    <label for="rememberme" class="text-900">Remember me</label>
                </div>
                <a routerLink="/recovery" class="font-medium no-underline ml-2 text-primary text-right cursor-pointer">Forgot password?</a>
            </div>

            <div class="text-center mt-4">
                <button pButton type="button" class="p-button-raised w-full" label="Login" (click)="verificarCredencial()" [loading]="cargandoData"></button>
            </div>
        </p-card>

        <p-card class="box fadein shadow-8" *ngIf="sedes.dataCargada">
            <div *ngIf="sedes.roll == ''">
                <h2>Select Roll</h2>
            </div>
            <div *ngIf="sedes.roll != '' && !cargandoData">
                <h2 class="mt-0 text-center">Select Sede</h2>
                <p-listbox [options]="sedes.sedesEstudiante" optionLabel="nombre" (onChange)="selectSede($event)"></p-listbox>
            </div>
            <p-progressSpinner class="text-center block m-auto" *ngIf="cargandoData"></p-progressSpinner>
        </p-card>
    </div>
</div>